<h1 class="font-bold text-lg lg:text-3xl mb-4">WF3 - Actas Digitales</h1>

<div class="flex justify-end mb-4">
  <button class="btn-primary mr-2" (click)="abrirNuevoDespliegueModal()">
    Nuevo Despliegue
  </button>
  <button class="btn-primary" (click)="abrirModal()">Editar Checklist</button>
</div>

<!-- Modal Editar Checklist -->
<div
  *ngIf="modalAbierto"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div
    class="bg-gray-900 rounded-lg w-1/3 max-h-[80%] max-w-[80%] overflow-auto px-3 py-2 scrollbar-thin scrollbar-thumb-gray-700 scrollbar-track-gray-900 scrollbar-thumb-rounded-full scrollbar-track-rounded-full"
  >
    <div class="modal-content">
      <h2 class="text-2xl font-bold text-center text-white mb-4">
        Editar Checklist
      </h2>
      <table class="w-full table-auto bg-gray-800 rounded-lg">
        <thead>
          <tr class="bg-gray-700 text-white">
            <th class="px-4 py-2 border-b border-gray-700 text-center">ID</th>
            <th class="px-4 py-2 border-b border-gray-700 text-center">
              Campo
            </th>
            <th class="px-4 py-2 border-b border-gray-700 text-center">
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let campo of campos; let i = index"
            class="hover:bg-gray-700 transition-colors"
            style="height: 50px"
          >
            <td class="px-4 py-2 border-b border-gray-700 text-center">
              {{ i + 1 }}
            </td>
            <td class="px-4 py-2 border-b border-gray-700 boxPerso">
              <div
                *ngIf="!campo.editando; else mostrarValor"
                class="w-full h-full flex items-center justify-center"
              >
                {{ campo.valor }}
              </div>
              <ng-template #mostrarValor>
                <input
                  [(ngModel)]="campo.valor"
                  (blur)="guardarCampo(i)"
                  class="w-full rounded-md text-gray-900 bg-gray-200 border border-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-600"
                />
              </ng-template>
            </td>
            <td class="px-4 py-2 border-b border-gray-700 text-center">
              <button
                class="btn-secondary mr-2 transition-transform duration-300 ease-in-out hover:scale-105"
                (click)="editarCampo(i)"
              >
                <i class="fas fa-edit"></i> Editar
              </button>
              <button
                class="btn-danger transition-transform duration-300 ease-in-out hover:scale-105"
                (click)="confirmarEliminar(i)"
              >
                <i
                  id="icono-{{ i }}"
                  class="fas fa-trash-alt"
                  (click)="confirmarEliminar(i)"
                ></i>
                Eliminar
              </button>
            </td>
          </tr>
          <tr>
            <td class="px-4 py-2 text-center" colspan="3">
              <button class="btn-primary" (click)="agregarCampo()">
                Agregar Campo
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="flex justify-end mt-4">
        <button class="btn-primary mr-1" (click)="cerrarModal()">
          Cancelar
        </button>
        <button class="btn-primary" (click)="guardarCambios()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Nuevo Despliegue -->

<app-nuevo-despliegue
  *ngIf="modalNuevoDespliegueAbierto"
  [campos]="campos"
  [despliegue]="esNuevoDespliegue ? null : despliegueSeleccionado"
  (cerrar)="cerrarModalNuevoDespliegue()"
  (guardar)="guardarNuevoDespliegue($event, 'WF3')"
  (editar)="editarNuevoDespliegue($event, 'WF3')"
>
</app-nuevo-despliegue>

<!-- Tabla Despliegues -->
<div class="overflow-x-auto mt-4">
  <table class="w-full table-auto bg-gray-800 rounded-lg overflow-hidden">
    <thead>
      <tr class="bg-gray-700 text-white">
        <th class="px-4 py-2">ID</th>
        <th class="px-4 py-2">Responsable</th>
        <th class="px-4 py-2">Tag</th>
        <th class="px-4 py-2">Microservicio</th>
        <th class="px-4 py-2">Auditor</th>
        <th class="px-4 py-2">Fecha</th>
        <th class="px-4 py-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let dato of datosGuardados; let i = index"
        class="hover:bg-gray-700 transition-colors"
      >
        <td class="px-4 py-2 border-b border-gray-700 text-center">
          {{ i + 1 }}
        </td>
        <td class="px-4 py-2 border-b border-gray-700 text-center">
          {{ dato.responsable }}
        </td>
        <td class="px-4 py-2 border-b border-gray-700 text-center">
          {{ dato.tag }}
        </td>
        <td class="px-4 py-2 border-b border-gray-700 text-center">
          {{ dato.microservicio }}
        </td>
        <td class="px-4 py-2 border-b border-gray-700 text-center">
          {{ dato.auditor }}
        </td>
        <td class="px-4 py-2 border-b border-gray-700 text-center">
          {{ dato.fecha }}
        </td>
        <td class="px-4 py-2 border-b border-gray-700 text-center">
          <button
            class="btn-secondary transition-transform duration-300 ease-in-out hover:scale-105 mr-2"
            (click)="editarDespliegue(i)"
          >
            <i class="fas fa-edit"></i>
          </button>
          <button
            class="btn-secondary transition-transform duration-300 ease-in-out hover:scale-105"
            (click)="confirmDeleteDeployment(i)"
          >
            <i class="fas fa-trash"></i>
          </button>
        </td>

        <div
          *ngIf="showConfirmDeleteModal"
          class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
        >
          <div class="bg-gray-900 rounded-lg p-4 max-w-sm">
            <h2 class="text-lg font-bold text-center text-white mb-3">
              Confirmar eliminación
            </h2>
            <p class="text-gray-300 mb-4 text-center justify-center">
              ¿Está seguro de eliminar el despliegue
              <strong>{{ deploymentToDelete.tag }}</strong> de
              <strong>{{ deploymentToDelete.microservicio }}</strong
              >?
            </p>
            <div class="flex justify-end">
              <button
                class="btn-primary mr-2"
                (click)="showConfirmDeleteModal = false"
              >
                Cancelar
              </button>
              <button
                class="btn-primary"
                (click)="eliminarDespliegue(i, 'WF3')"
              >
                Eliminar
              </button>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>
